<%- layout('layouts/main.ejs') %>

<header class="header-container">
    <div class="div-header-flex">
        <img src="/img/icono-pinterest.png" alt="logo">
        <h3>Pinterest</h3>
    </div>

</header>


<div class="index-view">
    <h1>Sign Up</h1>
        <span>or <a class="title-link" href="/signin" method="GET" style="background-color: rgb(189, 189, 189);"">Sign In</a></span>
        
    <form action="/signup" method="POST" class="index-view">
        <input name="email" type="text" placeholder="Enter an email">
        <input name="pass" type="password" placeholder="Enter a password">
        <input type="submit" value="Create Account">
      </form>
</div>

    <% if (signupMessage == "The email is already taken.") { %>

        <script>
            alert("<%= signupMessage %>")
        </script> 

    <% } %>
